<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/home">
      <ion-icon src="assets/icons/home-app.svg"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="voting">
      <ion-icon src="assets/icons/vote.svg"></ion-icon>
      Voting
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon src="assets/icons/notifications.svg"></ion-icon>
      Notifications
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="assets/icons/profile.svg"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>