<!-- <app-header/> -->

<p-toast [showTransformOptions]="'300ms'" [showTransformOptions]="'translateX(100%)'" [hideTransformOptions]="'150ms'" [hideTransformOptions]="'translateX(100%)'"></p-toast>

<div class="flex flex-col justify-center items-center mb-4">
    <div class="border rounded-md mt-10 pl-20 pr-20 pb-4 pt-5 w-full max-w-6xl mx-auto">
        <div class = "flex flex-col items-center justify-center m-4">
            <img [src]="currentContractor()?.img" class="w-60 h-40 mx-auto object-scale-down mt-4 rounded-md" alt="">
            <p class = "text-lg font-bold mt-4"> {{ currentContractor()?.name }}</p>
        </div>

        <span class="text-yellow-500 text-lg">Details</span>
        <p-table [value]="[1]" showGridlines [tableStyle]="{ 'min-width': '50rem'}">
            <ng-template pTemplate="body">

                <tr>
                    <td class="font-bold">Email address</td>
                    <td>{{ currentContractor()?.email }}</td>
                </tr>
                <tr>
                    <td class="font-bold">Phone number</td>
                    <td>{{ (currentContractor()?.phone ?? '') | formatPhoneNumber }}</td>
                </tr>
                <tr>
                    <td class="font-bold">Full address</td>
                    <td>{{ currentContractor()?.address }}</td>
                </tr>
                <tr>
                    <td class="font-bold">Description & Skills</td>
                    <td>{{ currentContractor()?.description }}</td>
                </tr>
                <tr>
                    <td class="font-bold">Services</td>
                    <td>{{ currentContractor()?.services }}</td>
                </tr>
                <tr>
                    <td class="font-bold">Registration number</td>
                    <td>{{ currentContractor()?.reg_number }}</td>
                </tr>
                <tr>
                    <td class="font-bold">Certificates</td>
                    <td>
                        <a [href]="currentContractor()?.certifications" target="_blank" class="text-blue-500 hover:underline">
                            {{ currentContractor()?.certifications | formatFile }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">Licenses</td>
                    <td>
                        <a [href]="currentContractor()?.licenses" target="_blank" class="text-blue-500 hover:underline">
                            {{ currentContractor()?.licenses | formatFile}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">Contractor Identification documents</td>
                    <td>
                        <a [href]="currentContractor()?.ids" target="_blank" class="text-blue-500 hover:underline">
                            {{ currentContractor()?.ids | formatFile}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">Project History Records</td>
                    <td>
                        <a [href]="currentContractor()?.projectRecords" target="_blank" class="text-blue-500 hover:underline">
                            {{ currentContractor()?.projectRecords | formatFile}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold">Average Rating</td>
                    <td>
                        @if(currentContractor()?.averageRating === null || currentContractor()?.averageRating === 0)
                        {
                            <span>No Rating yet</span>
                        }
                        @else {
                            <p-rating 
                                [ngModel]="currentContractor()?.averageRating"
                                [readonly]="true"
                                [stars]="5"
                                styleClass="text-yellow-500">
                            </p-rating>
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    @if(publicContractor)
    {
        <button class="bg-black hover:bg-gray-500 text-white text-lg p-3 mb-8 rounded cursor-pointer mt-10" (click)="makeTrustedContractor()">Add as trusted contractor?</button>
    }
</div>