<div [class]=" showAddButton ? 'flex flex-col pt-5 p-4 bg-gray-300 dark:bg-gray-500 rounded-xl shadow-md' : 'flex flex-col pt-5 p-4 rounded-xl'">
    <p-toast/>
    <p-card class="text-center bg-gray-50 dark:bg-gray-500 rounded-xl shadow-md">
        <ng-template #title>Inventory</ng-template>
        <p-table [value]="inventory()" [tableStyle]="{ 'min-width': '25rem', 'max-width':'30rem' }" [paginator]="true" [rows]="rows" [responsiveLayout]="'scroll'">
            <ng-template #header>
                <tr>
                    <th pSortableColumn="name">Description <p-sortIcon field="name"/></th>
                    <th pSortableColumn="quantityInStock">Quantity <p-sortIcon field="quantityInStock"/></th>
                    <th pSortableColumn="price" *ngIf="showPrice">Price<p-sortIcon field="price"/></th>
                    <th *ngIf="!bcUser">Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-inventory let-rowIndex="rowIndex">
                <tr>
                    <td>{{ inventory.name }}</td>
                    <td class="text-sm">
                        @if(editingItems.get(inventory.itemUuid))
                        {
                            <input type="number" [ngModel]="draftQuantities.get(inventory.itemUuid)" min="0" class="w-20 p-1 border rounded" (keydown)="preventNegative($event)" (input)="onManualInput(inventory, $event)">
                        }
                        @else {
                            {{ inventory.quantityInStock }}
                        }
                    </td>
                    <td *ngIf="showPrice" class="text-sm">R {{ inventory.price | number:'1.2-2' }}</td>
                    <td *ngIf="!bcUser">
                        @if(editingItems.get(inventory.itemUuid))
                        {
                            <div class="flex gap-2">
                                <p-button icon="pi pi-plus" size="small" severity="warn" (click)="changeQuantity(inventory, 1)"></p-button>
                                <p-button icon="pi pi-minus" size="small" severity="warn" (click)="changeQuantity(inventory, -1)" [disabled]="draftQuantities.get(inventory.itemUuid)! <= 0"></p-button>
                            </div>
                        }
                        @else {
                            <div class="flex gap-1">
                                <p-button icon="pi pi-plus" size="small" severity="warn" (click)="startAction(inventory, 'increase')"></p-button>
                                <p-button icon="pi pi-minus" size="small" severity="warn" (click)="startAction(inventory, 'decrease')" [disabled]="inventory.quantityInStock <= 0"></p-button>
                                <p-button icon="pi pi-pencil" size="small" severity="secondary" (click)="startAction(inventory, 'edit')"></p-button>
                            </div>
                        }
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-dropdown 
                [options]="[5,10,20]" 
                [(ngModel)]="rows" 
                [appendTo]="'body'">
                </p-dropdown>
            </ng-template>
        </p-table>
        @if(isEditing && !readOnly)
        {
            <div class="flex justify-center items-center gap-2 mt-4">
                <p-button label="Confirm" icon="pi pi-check" severity="success" (click)="confirmAction()" [disabled]="!hasChanges"></p-button>
                <p-button label="Cancel" icon="pi pi-times" severity="danger" (click)="resetState()"></p-button>
            </div>
        }
        @if(!bcUser)
        {
            <div class="mt-4 flex flex-col justify-center items-center" *ngIf="showAddButton">
                 <button class="flex items-center gap-2 px-4 py-2 bg-yellow-400 hover:bg-yellow-600 text-white rounded-lg shadow-md hover:translate-y-1 transition-transform duration-200"
                    (click)="inventoryAddDialog.openDialog()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                    </svg>
                    Add New Inventory Item
                </button>
                <app-inventory-add-dialog #inventoryAddDialog></app-inventory-add-dialog>

                <div class="w-full max-w-md mt-4">
                    <app-inventory-forecast [forecastData]="forecastData"></app-inventory-forecast>
                </div>
            </div>
        }
    </p-card>
</div>