<div class="register-container">
  <div class="left-section">
    <img src="assets/PM-Logo.png" alt="Logo" class="logo" />
    <h2>Property Manager</h2>
  </div>
  <div class="right-section">
    <h3>Create an account as an owner</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <i class="pi pi-envelope"></i>
        <input
          type="email"
          placeholder="Enter email address"
          formControlName="email"
        />
      </div>
      <div class="input-group">
        <i class="pi pi-key"></i>
        <input
          type="password"
          placeholder="Enter password"
          formControlName="password"
        />
        <i class="pi pi-eye-slash eye-icon"></i>
      </div>

      <button type="submit" [disabled]="form.invalid">Create Account</button>
    </form>

    <p class="contractor-text">Looking to be a Contractor?</p>
  </div>
</div>
