<div class = "flex w-full justify-center items-center h-screen bg-gray-100">
    <div class = "flex w-[700px] h-[400px] shadow-lg rounded overflow-hidden border">
        <div class = "w-2/6 bg-white flex flex-col items-center justify-center p-6 border-r">
            <img class = "h-24 mb-4" src="assets/images/logo.png" alt="App logo">
            <p class = "font-semibold text-lg dark:text-black">Property Manager</p>
        </div>

        <div class = "w-4/6 propertyYellow-bg p-8 flex flex-col justify-center">
            <p class = "text-center text-xl font-semibold mb-2 dark:text-black">A verification code has been sent to email address. Enter the code here to verify your account </p>
            <div class="mb-8 mt-8">
                <label for="on_label" class="dark:text-gray-900 text-gray-900">Enter Verification Code</label>
                <input class="w-full border rounded bg-white" pInputText id="on_label" [(ngModel)]="verificationCode" autocomplete="off">
            </div>

            <div *ngIf="emptyField">
                <p class="text-red-600 p-2">Invalid code sent, please try again</p>
            </div>

            <div>
                <button (click)="sendCode()" [disabled]="loading" class="bg-black text-white px-14 py-2 rounded font-semibold hover:bg-gray-800 w-full flex flex-col justify-center items-center">
                    <ng-container *ngIf="!loading; else loadingTemplate">
                        Send Verification code
                    </ng-container>
                    <ng-template #loadingTemplate>
                        <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" 
                             d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z">
                            </path>
                        </svg>
                    </ng-template>
                </button>
            </div>
        </div>
    </div>
</div>