<ion-content class="dark:bg-gray-700">
  <div class="container mx-auto px-0">
    <app-header/>

    <div class="flex flex-col justify-start items-start ml-5 my-4">
      <h1 class="text-xl dark:text-white">All Notifications</h1>
      <div class="w-[8.5rem] h-1 bg-yellow-300 mt-2"></div>

      <div *ngIf="notiError">
          <p class="text-red-500">Error getting notifications, please try again</p>
      </div>

        <div [@floatUp] *ngIf="!notiError" class="mt-5">
            <div class="space-y-2">
                <p class="text-lg pb-2 dark:text-white">Unread</p>
                <p-timeline [value]="unreadTimeline()" align="left">
                    <ng-template #content let-time>
                        <div tabindex="0" role="button" (click)="showDetails(time)" (keydown.enter)="showDetails(time)" (keydown.space)="showDetails(time)">
                            {{ time.createdAtDate | formatTime }}  <br>  {{ time.message }}
                        </div>
                    </ng-template>
                    <ng-template #marker let-time>
                        <div class="flex items-center justify-center w-4 h-4 rounded-full shadow-md bg-white-200">
                            <i class="pi pi-clock text-gray-800"></i>
                        </div>
                    </ng-template>
                </p-timeline>
            </div>
        
            <div class="pt-5">
                <p class="text-lg pb-3 dark:text-white">Recent</p>
                <p-timeline [value]="timeline()">
                    <ng-template #content let-time>
                        <div tabindex="0" role="button" (click)="showDetails(time)" (keydown.enter)="showDetails(time)" (keydown.space)="showDetails(time)">
                            {{ time.createdAtDate | formatTime }} <br> {{ time.message }}
                        </div>
                    </ng-template>
                    <ng-template #marker let-time>
                        <div class="flex items-center justify-center w-5 h-5 rounded-full shadow-md bg-white-200">
                            <img src="assets/icons/task_done.svg" alt="Read" class="w-5 h-5"/>
                        </div>
                    </ng-template>
                </p-timeline>
            </div>
        </div>
    </div>
  </div>
  <app-invite-modal [display]="inviteDialogVisible" [inviteId]="inviteId() ?? ''" [bodyCorporate]="bodyCorporateMessage() ?? ''"/>
  <app-tab/>
</ion-content>