<ion-card class="dark:bg-gray-900">
    <ion-card-header>
      <ion-card-title class="dark:text-white">Inventory</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p-table [value]="inventory()" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
        <ng-template #header>
        <tr>
            <th pSortableColumn="name" class="dark:text-gray-400">
                Description <p-sortIcon field="name"/>
            </th>
            <th pSortableColumn="quantityInStock" class="dark:text-gray-400">
                Quantity <p-sortIcon field="quantityInStock"/>
            </th>
            <th class="dark:text-gray-400">Actions</th>
        </tr>
        </ng-template>
        <ng-template #body let-inventory let-rowIndex="rowIndex">
        <tr>
            <td class="dark:text-gray-400">{{ inventory.name }}</td>
            <td class="dark:text-gray-400">
                @if(editingItems.get(inventory.itemUuid))
                {
                    <input type="number" [ngModel]="draftQuantities.get(inventory.itemUuid)" min="0" class="w-20 p-1 border rounded" (keydown)="preventNegative($event)">
                }
                @else {
                    {{ inventory.quantityInStock }}
                }
            </td>
            <td>
                @if(editingItems.get(inventory.itemUuid))
                {
                    <div class="flex gap-2">
                        <ion-button color="warning" size="small" (click)="changeQuantity(inventory, 1)">
                          <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                        <ion-button color="warning" size="small" (click)="changeQuantity(inventory, -1)" [disabled]="draftQuantities.get(inventory.itemUuid)! <= 0">
                          <ion-icon name="remove-outline"></ion-icon>
                        </ion-button>
                    </div>
                }
                @else {
                    <div class="flex gap-1">
                        <ion-button color="warning" size="small" (click)="startAction(inventory, 'increase')">
                          <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                        <ion-button color="warning" size="small" (click)="startAction(inventory, 'decrease')" [disabled]="inventory.quantityInStock <= 0">
                          <ion-icon name="remove-outline"></ion-icon>
                        </ion-button>
                    </div>
                }
            </td>
        </tr>
        </ng-template>
    </p-table>

    @if(isEditing && !readOnly)
    {
        <div class="flex justify-center items-center gap-2 mt-4">
            <ion-button label="Confirm" color="success" (click)="confirmAction()" [disabled]="!hasChanges">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button label="Cancel" color="danger" (click)="resetState()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </div>
    }
    <div class="mt-2 flex flex-col justify-center items-center" *ngIf="showAddButton">
      <button (click)="inventoryAddDialog.openModal()" class="flex items-center gap-2 p-2 bg-yellow-400 text-black rounded-lg shadow-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
          Add Inventory Item
      </button>
      <app-add-inventory #inventoryAddDialog/>
      <div class="w-full max-w-md mt-4">
          <app-inventory-forecast [forecastData]="forecastData"></app-inventory-forecast>
      </div>
    </div>
  </ion-card-content>
</ion-card>