<app-header/>

<ion-content>
  <div class= "flex flex-col justify-center items-center">
      
      <div *ngIf = "!findHouse" class = "pb-200">
          <p class = "text-yellow-500 font-semibold">Could not budget for house. Please try again</p>
      </div>
  
      <div class="px-4 space-y-2">
        <div class = "w-full mx-auto pt-5">
            <p class = "text-center text-lg font-semibold">Budget for {{ house()?.name }}</p>
        </div>
    
        <!-- 3 cards -->
        <div>
            <app-graph [budgetGraphData]="houseService.budgetGraph()"/>
        </div>
        <div *ngIf="!loading()" class = "grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
            <app-inventory-card [inventory]="houseService.inventory()" [budget]="houseService.budgets()"/>
            <app-maintenance [maintenance]="houseService.timeline()" [budget]="houseService.budgets()"/>
        </div>
    
        <div *ngIf="loading()">
            Loading...
        </div>
      </div>
  </div>
</ion-content>
<app-tab/>