
<div class = "flex flex-col" [ngStyle]="{ 'background-color': 'var(--bg-color)'}">
    <!-- Name -->
    <div class = "flex flex-row  items-center px-4 py-2"> 
         <img src= "assets/images/logo.png" class="w-16 h-12 ml-8 " alt="logo">
    <p class = "font-medium text-xl">Property Manager</p>

    <div class="flex gap-8 ml-12">
        <a routerLink="/home" routerLinkActive="text-yellow-500" class="text-gray-700 hover:text-yellow-500 font-semibold transition">Home</a>
        <a routerLink="/contractor-prof" routerLinkActive="text-yellow-500" class="text-gray-700 hover:text-yellow-500 font-semibold transition">My Profile</a>
        <a routerLink="/help" routerLinkActive="text-yellow-500" class="text-gray-700 hover:text-yellow-500 font-semibold transition">Help</a>
    </div>

    <!--BreadCrumb-->
    <div class="pl-5">
        <p-breadcrumb class="max-w-full" [model]="items">
            <ng-template #item let-item>
                <ng-container *ngIf="item.route && !item.active; else elseBlock">
                    <a [routerLink]="item.route" class="p-breadcrumb-item-link">
                        <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                        <span class="text-primary font-semibold">{{ item.label }}</span>
                    </a>
                </ng-container>
                <ng-template #elseBlock>
                    <span class="text-color">
                        <span *ngIf="item.icon" [ngClass]="item.icon"></span>
                        {{ item.label }}
                    </span>
                </ng-template>
            </ng-template>
        </p-breadcrumb>
    </div>

    <div class = "flex flex-row items-center ml-auto">
        <div class = "relative">
        <button class = "cursor-pointer pr-3" (click)="dropDownSettings()"> 
            <img [src]= "isDarkMode? 'assets/icons/settings_gray.svg': 'assets/icons/settings.svg'" class="w-9 h-9" alt=""> 
        </button>
        <button class = "cursor-pointer" (click)="dropDownProfile()">
            <img [src]= "isDarkMode? 'assets/icons/profile_gray.svg': 'assets/icons/profile.svg'" class="w-9 h-9" alt="">
        </button>

        <div *ngIf="dropDownProfileOpen" class= "absolute right-1 top-14 bg-white border rounded shadow-md w-28 z-50">
            <button *ngIf="isContractor" class="block text-yellow-500 w-full px-3 py-1 hover:bg-gray-100 cursor-pointer border-b border-gray-400">
                <a href="/contractor-prof">View profile</a>
            </button>
            <button class= "block text-yellow-300 w-full px-3 py-1 hover:bg-gray-100 cursor-pointer border-b border-gray-200">
                <a href="/help">Help?</a>
            </button>          
            <button (click)="signOut()" class= "block text-red-500 w-full px-3 py-1 hover:bg-gray-100 cursor-pointer border-b border-gray-200 border-b border-gray-200">
                Sign out
            </button>  
        </div>

        <div *ngIf="dropDownSettingsOpen" class= "absolute right-1 top-18 bg-white border rounded shadow-md w-38 z-50" [ngStyle]="{ 'background-color': 'var(--bg-color)'}">
            <button (click)="toggleDarkMode()" class="block text-black w-full text-left px-8 py-1 hover:bg-gray-100 cursor-pointer border-b border-gray-200" [ngStyle]="{ 'color':'var(--text-color)', 'border-bottom-color':'var(--border-color)' }">
            {{ isDarkMode? 'Light mode': 'Dark mode' }}
            </button>  
            <button class= "block text-yellow-500 w-full text-left px-3 py-1 hover:bg-gray-100 cursor-pointer">
            Change font size
            </button>          
        </div>
        </div>
    </div>
    </div>

    <!-- bar -->
    <div class = "propertyYellow-bg h-4 w-full"></div>
</div>