<div class = " flex w-full flex-col">
      <!-- Name -->
      <div class = "flex flex-row  items-center px-4 py-2"> 
        <img src= "assets/images/logo.png" class="w-16 h-12 ml-8 " alt="logo">
        <p class = "font-medium font-lato text-xl ">Property Manager</p>

        <div class = "flex flex-row items-center ml-auto">
          <div class = "relative">
            <button class = "cursor-pointer pr-3"> 
              <img src= "assets/icons/settings.svg" class="w-9 h-9" alt="settings"> 
            </button>
            <button class = "cursor-pointer" (click)="dropDown()">
              <img src= "assets/icons/profile.svg" class="w-9 h-9" alt="profile">
            </button>

            <div *ngIf="dropDownOpen" class= "absolute right-1 top-14 bg-white border rounded shadow-md w-22 z-50">
              <button (click)="signOut()" class= "block text-red-500 w-full text-left px-3 py-1 hover:bg-gray-100 cursor-pointer">
                Sign out
              </button>            
            </div>
          </div>
        </div>
      </div>

      <!-- bar -->
      <div class = "propertyYellow-bg h-4 w-full"></div>
    </div>