<div class = "flex flex-col items-center justify-center">
    <p-card class="text-center">
        <ng-template #title>Maintenance Budget</ng-template>
        <div class="flex items-center justify-center gap-2">
            <p class="font-semibold mt-2">Remaining Allocated budget: </p>
            <p class="text-yellow-500 text-lg font-semibold mt-2">R {{ budget()[0].budgetAmount | formatAmount}}</p>
        </div>

        <p class="pb-2 pt-8 pr-67">Maintenance expenditure</p>
        <p-table [value]="maintenance()" stripedRows selectionMode="single" (onRowSelect)="showMaintenanceDetailsDialog($event.data)" [tableStyle]="{ 'min-width': '22rem' }">
            <ng-template #header>
            <tr>
                <th pSortableColumn="description">
                    Description <p-sortIcon field="description"/>
                </th>
                <th pSortableColumn="cost">
                    Cost <p-sortIcon field="cost"/>
                </th>
                <th pSortableColumn="DoneBy.name">
                    Done by <p-sortIcon field="DoneBy.name"/>
                </th>
                <th pSortableColumn="DoneOn">
                    Date <p-sortIcon field="DoneOn"/>
                </th>
            </tr>
            </ng-template>
            <ng-template #body let-maintain>
            <tr [pSelectableRow]="maintain">
                <td>{{ maintain.description }}</td>
                <td>R {{ maintain.cost }}</td>
                <td>{{ maintain.DoneBy.name}}</td>
                <td>{{ maintain.DoneOn | formatDate }}</td>
            </tr>
            </ng-template>
        </p-table>
        <app-task-dialog #taskDialog/>
        <p class = "font-semibold pt-3">Total: R {{ getMaintenanceTotal() }}</p>
        <button class = "cursor-pointer pt-6" (click)="editBudgetDialog.openDialog()">
            <img src = "assets/icons/edit.svg" alt="edit maintainence budget">
        </button>
        <app-edit-budget-dialog #editBudgetDialog [budgetType]="'maintainence'" [oldBudgetAmount]="budget()[1].budgetAmount"></app-edit-budget-dialog>
    </p-card>
</div>