<app-header/>
  
    <div class="min-h-screen flex items-center justify-center  bg-white relative p-4">
  

  


<div class="flex flex-wrap gap-8 pl-8 pt-8  ">
<a [routerLink]="['/quotation']" class="block">
  <p-card [style]="{ height: '16rem', width: '13rem', overflow: 'hidden', backgroundColor: 'white' }">
    <ng-template #header>
      <img alt="Card" class="w-full h-40" src="assets/images/house1.jpg" />
    </ng-template>
    <ng-template #title>
      <span class="text-black">Propect A</span>
    </ng-template>
    <ng-template #subtitle>
      <span class="text-black">Fix burst pipe</span>
    </ng-template>
    
  </p-card>
</a>
<a [routerLink]="['/quotation']" class="block">
  <p-card [style]="{ height: '16rem', width: '13rem', overflow: 'hidden', backgroundColor: 'white' }">
    <ng-template #header>
      <img alt="Card" class="w-full h-40" src="assets/images/house2.jpg" />
    </ng-template>
    <ng-template #title>
      <span class="text-black">Project B</span>
    </ng-template>
    <ng-template #subtitle>
      <span class="text-black">Fix broken toilet</span>
    </ng-template>
  </p-card>
</a>
<a [routerLink]="['/quotation']" class="block">
  <p-card [style]="{ height: '16rem', width: '13rem', overflow: 'hidden', backgroundColor: 'white' }">
    <ng-template #header>
      <img alt="Card" class="w-full h-40" src="assets/images/house3.jpg" />
    </ng-template>
    <ng-template #title>
      <span class="text-black">Project c</span>
    </ng-template>
    <ng-template #subtitle>
      <span class="text-black"> Add landscapping</span>
    </ng-template>
  </p-card>
</a>
</div>
</div>