<div class = "flex flex-col justify-center items-center h-screen">
    <div class = "flex flex-col shadow-lg rounded overflow-hidden border">

        <div class = "bg-white flex flex-col items-center justify-center p-6">
            <img class = "h-24 mb-4" src="assets/images/logo.png" alt="App logo">
            <p class = "font-semibold text-lg">Property Manager</p>
        </div>

        <div class = "propertyYellow-bg p-7 pt-1 flex flex-col justify-center items-center space-y-3">
            <p class = "text-center text-xl font-semibold pt-2">Types of users</p>
            
            <div>
                <button class="py-3 px-5 bg-white border border-gray-400 rounded-md text-gray-700">
                    <a href="/contractorRegister" class="block white no-underline text-black">Register as a contractor</a>
                </button>
            </div>
            
            <div class="pb-2">
                <button class="py-3 px-5 bg-white border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 cursor-pointer">
                    <a href="/registerTrustee" class="block no-underline text-black">Register as a trustee</a>
                </button>
            </div>

            <div class="text-center text-sm">
                <a class="block hover:text-blue-800 cursor-pointer font-semibold no-underline text-black" href="/login">Already have an account? Login</a>
            </div>
        </div>
    </div>
</div>