<p-dialog header="Done By: {{task?.DoneBy?.name}}" [style]="{ width: '65rem'}" [(visible)]="displayDialog" [modal]="true">
    <div class = "grid grid-cols-3 gap-4 mb-4">
        <ng-container *ngFor="let img of task?.proofImages">
            <img [src]="img" alt="proof images of task done" class="w-full h-auto object-cover rounded-lg"/>
        </ng-container>
    </div>

    <p-card class="border border-gray-200">
        <div class="flex justify-between items-start w-full">
            <div class="flex flex-col">
                <p class="font-semibold">Done on: {{ (task?.DoneOn || '') | formatDate }}</p>
                <p class="font-semibold pr-5 pt-2 pb-3">Total Cost: R {{(task?.cost || 0) | formatAmount }}</p>
            </div>

            <a class="text-blue-500 hover:text-blue-800" href="{{task?.quotationPdf}}">View quotation?</a>
        </div>

        <div class="mt-4">
            <p class="mb-2 mr-195">Inventory Items used:</p>
            <p-table [value]="task?.inventoryItemsUsed || []" stripedRows [tableStyle]="{ 'max-width': '50%'}">
                <ng-template #header>
                    <tr>
                        <th class="text-left py-2 px-4">Description</th>
                        <th class="text-left py-2 px-4">Quantity</th>
                    </tr>
                </ng-template>
                <ng-template #body let-inventory>
                    <tr class="border-gray-200">
                        <td>{{ inventory.name }}</td>
                        <td>{{ inventory.quantityInStock }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="mt-7">
            <div class="flex items-center">
                <p class="font-semibold">Review: </p>
                <p class="pl-2">{{ task?.ReviewDescription }}</p>
                <div class="flex items-center pl-15">
                    <ng-container *ngFor="let star of [].constructor(task?.ReviewScore || 0)">
                        <img src = "assets/icons/star_fill.svg" alt="filled star" class="w-7 h-7">
                    </ng-container>
                    <ng-container *ngFor="let star of [].constructor(5 - (task?.ReviewScore || 0))">
                        <img src = "assets/icons/star_no_fill.svg" alt="empty star" class="w-7 h-7">
                    </ng-container>
                </div>
            </div>
        </div>
    </p-card>
</p-dialog>