<p-dialog header="Pending task" [style]="{ width: '30rem'}" [(visible)]="displayDialog" [modal]="true">
    <div class="flex flex-col gap-2 justify-center items-center">
        <div class="font-bold pb-3">
            <p>Task: {{ task?.title }}</p>
        </div>
        <div class="pb-3">
            <p>Description: {{ task?.des }}</p>
        </div>
        <div class="font-semibold pb-3">
            <p>Due Date: {{ task?.scheduled_date }}</p>
        </div>
        <div class="font-semibold pb-3">
            <p>Assigned contractor: {{ contractor?.name }}</p>
        </div>
        <div class="pb-3">
            <p>Task image: </p>
            <img [src]="imageUrl" alt="image of task" *ngIf="imageUrl; else noImg">
            <ng-template #noImg>
                <p>No image available</p>
            </ng-template>
        </div>
        <div class="flex justify-end mt-3">
            <button class="bg-gray-300 px-3 py-2 rounded mr-2 cursor-pointer" (click)="closeDialog()">Close</button>
            <button class="px-3 py-2 rounded cursor-pointer bg-black">Start voting</button>
        </div>
    </div>
</p-dialog>