<p-card class="text-center">
    <ng-template #title>Timeline</ng-template>

    <p-timeline [value]="timeline()">
        <ng-template #content let-time>
            <div class="cursor-pointer hover:underline hover:translate-y-0.5 transition-transform duration-200" tabindex="0" role="button" (click)="openDetailsDialog(time)" (keydown.enter)="openDetailsDialog(time)" (keydown.space)="openDetailsDialog(time)">
                {{ time.title }}
            </div>
        </ng-template>
        <ng-template #marker let-time>
            <div class="flex items-center justify-center w-6 h-6 rounded-full shadow-md bg-white-200">
                <ng-container *ngIf="(time.status==='done'); else pending">
                    <img src="assets/icons/task_done.svg" alt="Done" class="w-5 h-5" />
                </ng-container>
                <ng-template #pending>
                    <i class="pi pi-clock text-gray-800"></i>
                </ng-template>
            </div>
        </ng-template>
    </p-timeline>

    <app-timeline-details-dialog #taskDialog></app-timeline-details-dialog>

    <div class = "mt-7">
        <button class = "cursor-pointer hover:translate-y-2 transition-transform duration-200" (click)="timelineAddDialog.openDialog()">
            <img class = "h-8 w-8" src = "assets/icons/add_circle_gray.svg" alt="add inventory">
        </button>
        <app-timeline-add-dialog #timelineAddDialog/>
    </div>
</p-card>