<p-card class="text-center">
    <ng-template #title>Timeline</ng-template>

    <p-timeline [value]="timeline()">
    <ng-template #content let-time>
        {{ time.description }}
    </ng-template>
    <ng-template #marker let-time>
        <div class="flex items-center justify-center w-6 h-6 rounded-full shadow-md bg-white-200">
        <ng-container *ngIf="time.done; else pending">
        <img src="assets/icons/task_done.svg" alt="Done" class="w-5 h-5" />
        </ng-container>
        <ng-template #pending>
            <i class="pi pi-clock text-gray-400"></i>
        </ng-template>
    </div>
    </ng-template>
    </p-timeline>

    <div class = "mt-4">
        <button class = "cursor-pointer" (click)="timelineAddDialog.openDialog()"><img class = "h-8 w-8" src = "assets/icons/add_circle_gray.svg" alt="add inventory"></button>
        <app-timeline-add-dialog #timelineAddDialog/>
    </div>
</p-card>