<p-drawer [(visible)]="displayDrawer" styleClass="bg-yellow-500">
    <ng-template #headless>

        <div class="relative">
            <div class="flex items-center justify-between px-6 pt-4 shrink-0 bg-white-500">
                <img src="assets/images/logo.png" alt="Logo" class="w-40 h-40">
                <span class="text-2xl">Property Manager</span>
            </div>

            <button class="absolute top-1 right-2 p-2 rounded-full hover:bg-yellow-400 transition" aria-label="Close drawer" (click)="closeDrawer()">
                <img src="assets/icons/cancel.svg" alt="Close" class="w-8 h-8">
            </button>
        </div>

        <div class="flex flex-col h-full bg-yellow-300">
            <div>
                <ul class="list-none p-3 pt-5">
                    <li class="mb-7">
                        <a class="flex items-center space-x-2 cursor-pointer" href="/bodyCoporate">
                            <img src="assets/icons/analytics.svg" alt="analytics" class="w-8 h-8">
                            <span class="text-xl text-white">Dashboard</span>
                        </a>
                    </li>
                    <li class="mb-7">
                        <a class="flex items-center space-x-2 cursor-pointer" href="/home">
                            <img src="assets/icons/home.svg" alt="home" class="w-8 h-8">
                            <span class="text-xl text-white">Properties</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center space-x-2 cursor-pointer" href="/bodyCoporate/contractors">
                            <img src="assets/icons/person_apron.svg" alt="analytics" class="w-8 h-8">
                            <span class="text-xl text-white">Contractors</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>
</p-drawer>
