<app-header/>
<div>
    <button class = "mt-4 ml-2 cursor-pointer" (click)="openDrawer.openDrawer()"><img src="assets/icons/sideDrawer_button.svg" alt="Open drawer" class="w-9 h-9"></button>
    <app-drawer #openDrawer/>
</div>

<div class = "mt-4 ml-10">
    <p class = "text-xl font-normal">Public Contractors ready for work</p>
</div>

<div class="flex flex-wrap justify-center gap-8 p-8">
    @for (contractor of publicContractors; track contractor.uuid) 
    {
        <app-contractor-card [contractor]="contractor"/>
    }
</div>