<app-header></app-header>
<p-toast></p-toast>

<div class="min-h-screen p-8" [@fadeInStagger] [ngStyle]="{ 'background-color': 'var(--bg-color)', 'color': 'var(--text-color)' }">

  <!-- Title -->
  <div class="ml-8 mb-10 animate-item">
    <h2 class="text-3xl font-semibold font-lato text-black" [ngStyle]="{ 'background-color': 'var(--input-bg-color)', 'color': 'var(--input-text-color)' }">Create Quotation</h2>
    <div class="w-65 h-1 bg-yellow-300 mt-2"></div>
  </div>

  <!-- Form Card -->
  <div class="rounded-lg p-6 font-semibold font-lato w-full max-w-md mx-auto shadow-sm animate-item"
     [ngStyle]="{ 'background-color': 'var(--card-bg-color)', 'color': 'var(--text-color)', 'border': '1px solid var(--border-color)' }">

    <div class="grid grid-cols-2 gap-4 mb-4">
      <p-datepicker
  [(ngModel)]="IssueDate"
  dateFormat="yy-mm-dd"
  placeholder="Issue Date"
  class="w-full rounded-lg bg-gray-100 text-gray-700"
  [ngStyle]="{ 'background-color': 'var(--input-bg-color)', 'color': 'var(--input-text-color)' }"
/>

<p-datepicker
  [(ngModel)]="expirationDate"
  dateFormat="yy-mm-dd"
  placeholder="Expiration Date"
  class="w-full rounded-lg bg-gray-100 text-gray-700"
  [ngStyle]="{ 'background-color': 'var(--input-bg-color)', 'color': 'var(--input-text-color)' }"

/>
      <input type="text" [(ngModel)]="quoteNo" pInputText placeholder="Quote No." class="w-full rounded-lg bg-gray-100 text-gray-700" [ngStyle]="{ 'background-color': 'var(--input-bg-color)', 'color': 'var(--input-text-color)' }" />
      <input type="number" [(ngModel)]="totalAmount" pInputText placeholder="Total amount" class="w-full rounded-lg bg-gray-100 text-gray-700" [ngStyle]="{ 'background-color': 'var(--input-bg-color)', 'color': 'var(--input-text-color)' }" />
    </div>

    <!-- File Upload -->
    <div class="card flex flex-col gap-6 mb-5 items-center justify-center">
    
    <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept=".pdf,image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"  styleClass="custom-upload-button"/>
    <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
</div>

    <!-- Submit Button -->
    <button
      (click)="submitQuote()"
      label="Create Quotation"
      class="bg-yellow-300 text-black font-semibold text-lg px-16 py-3 ml-25 rounded shadow hover:bg-yellow-400 transition text-sm"

    > Create Quote</button>
  </div>
</div>
