<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list lines="none">

      <ion-item>
        <ion-label position="floating">Property Name *</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Area (m²) *</ion-label>
        <ion-input type="number" formControlName="area"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Property Value *</ion-label>
        <ion-input type="number" formControlName="propertyValue"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Street Address *</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Suburb</ion-label>
        <ion-input formControlName="suburb"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Province</ion-label>
        <ion-input formControlName="province"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Type *</ion-label>
        <ion-input formControlName="type"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Primary Contractor *</ion-label>
        <ion-select formControlName="primaryContractor" interface="action-sheet" placeholder="Select contractor">
          <ion-select-option *ngFor="let contractor of contractors" [value]="contractor.uuid">
            {{ contractor.name }} - {{ contractor.services }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Invite members</ion-label>
        <ion-input formControlName="bodyCorporate"></ion-input>
      </ion-item>

      <ion-text color="medium" class="ion-margin-top ion-margin-bottom">
        <small>
          *Invite members: Enter one or more email addresses separated by commas to invite people to join the body corporate for this property.
        </small>
      </ion-text>

      <ion-item lines="none">
        <ion-label>Property Image</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </ion-item>
      <div class="image-preview" *ngIf="imagePreview">
        <img [src]="imagePreview" alt="Property Image" />
      </div>

      <ion-item *ngIf="submissionError">
        <ion-text color="danger">{{ submissionError }}</ion-text>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="form.invalid || isSubmitting">
        <ion-spinner *ngIf="isSubmitting" name="dots"></ion-spinner>
        {{ isSubmitting ? 'Creating...' : 'Create Property' }}
      </ion-button>
    </ion-list>
  </form>
</ion-content>