<ion-content class="dark:bg-gray-800">
  <app-header/>
  
  <div class= "flex flex-col items-center pt-1">
      
      <div *ngIf = "!findHouse" class = "pb-200">
          <p class = "text-yellow-500 font-semibold">Could not load house. Please try again</p>
      </div>
  
      <div class="space-y-8">
        <div class = "w-full mx-auto">
            <img [src]="house()?.propertyImage" class="w-60 h-40 mx-auto object-scale-down mt-4 rounded-md" alt="">
            <div class="relative inline-block">
                <button class="absolute top-1 right-1" (click)="updateHouse.openModal()">
                    <img *ngIf="!house()?.coporateUuid" src="assets/icons/screwdriver.svg" class="w-5 h-5">
                </button>
                <app-update-house #updateHouse [houseId]="house()?.buildingUuid!"/>
            </div>
            <p class = "text-center text-xl font-bold mt-4 dark:text-white"> {{ house()?.name }}</p>
        </div>
    
        <!-- 3 cards -->
        <div [@floatUp] class = "grid grid-cols-1 md:grid-cols-3 gap-4 mt-4"> 
            <app-budget [budget]="houseService.budgets()"/>
            <app-inventory [inventory]="houseService.inventory()"/>
            <app-timeline [timeline]="houseService.timeline()"/>
        </div>
      </div>
  </div>

</ion-content>
<app-tab/>
