<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/home">
          <ion-icon slot="start" src="assets/icons/home-app.svg"></ion-icon>
          Home
        </ion-item>
        <ion-item routerLink="/profile">
          <ion-icon slot="start" src="assets/icons/profile.svg"></ion-icon>
          Profile
        </ion-item>
        <ion-item routerLink="/contractor-profile">
          <ion-icon slot="start" src="assets/icons/person_apron.svg"></ion-icon>
          Contractor Profile
        </ion-item>
        <!-- Add more navigation items as needed -->
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>