<p-dialog header="Add new inventory item?" [style]="{ width: '30rem'}" [(visible)]="displayDialog" [modal]="true">
    <span class="p-text-secondary block mb-8">Add new item and update budget.</span>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class = "flex items-center mb-8 gap-4 ml-30">
            <p-float-label>
                <input id="inventory-item" class="border rounded" type="text" formControlName="name" required>
                <label for="inventory-item" class="font-bold w-50">Inventory item name</label>
            </p-float-label>
        </div>
        <div class = "flex items-center mb-8 gap-4 ml-30">
            <p-float-label>
                <input id="inventory-price" class = "border rounded" type="number" formControlName = "price" required>
                <label for="inventory-price" class="font-bold w-50">Price for one</label>
            </p-float-label>
        </div>
        <div class = "flex items-center mb-4 gap-4 ml-30">
            <p-float-label>
                <input id="inventory-quantity" class = "border rounded" type="number" formControlName="quantity" required>
                <label for="inventory-quantity" class="font-bold w-50">Quantity bought</label>
            </p-float-label>    
        </div>
        <div class = "mb-4 gap-4 ml-30">
            <label for="inventory-boughtOn" class="font-semibold block mb-2">Bought on</label>
            <p-datepicker id="inventory-boughtOn" formControlName="boughtOn" [iconDisplay]="'input'" [showIcon]="true" size="small"/>
        </div>
        <div>
            <p class = "font-semibold text-red-500 ml-35" *ngIf="addError">Error adding inventory item</p>
        </div>
        <div class = "flex justify-end mt-3">
            <button class = "bg-gray-300 px-3 py-2 rounded mr-2 cursor-pointer" (click)="closeDialog()">Cancel</button>
            <button type="submit" 
                class = "px-3 py-2 rounded cursor-pointer"
                [class.bg-black]="form.valid"
                [class.bg-gray-200]="!form.valid"
                [class.text-white]="form.valid"
                [disabled]="!form.valid">
                Add item
            </button>
        </div>
    </form>
</p-dialog>