<ion-content class="dark:bg-gray-700 ">
  <h3 class="text-lg mt-4 ml-4 text-center dark:text-white ">My Account</h3>
  <div class="flex flex-col justify-start items-start pt-4 justify-center items-center">
    <ion-list class="dark:bg-gray-700">
      <ion-item class=" dark:bg-gray-700">
        @if(darkMode)
        {
          <ion-button color="light" fill="clear" (click)="changeTheme()">
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            Dark Mode
          </ion-button>
        }
        @else{
          <ion-button color="dark" fill="clear" (click)="changeTheme()">
            <ion-icon slot="start" name="sunny-outline"></ion-icon>
            Light Mode
          </ion-button>
        }
      </ion-item>
      @if (userType === 'contractor') {
      <ion-item>
        <ion-button [color]="darkMode ? 'light' : 'dark'" fill="clear" routerLink="/contractor-profile">
          <ion-icon slot="start" src="assets/icons/settings_gray.svg"></ion-icon>
          Edit Contractor Profile
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button [color]="darkMode ? 'light' : 'dark'" fill="clear" routerLink="/submitted-quotations">
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          Submitted Quotations
        </ion-button>
      </ion-item>
    }
         @if (userType === 'contractor') {
        <ion-item>
          <ion-button [color]="darkMode ? 'light' : 'dark'" fill="clear" routerLink="/submitted-quotations">
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            Submitted Quotations
          </ion-button>
        </ion-item>
      }
      <ion-item>
        <ion-button [color]="darkMode? 'light': 'dark'" fill="clear">
            <ion-icon slot="start" name="text-outline"></ion-icon>
            <ion-select [value]="fontSize" (ionChange)="changeFontSize($event.detail.value)">
            <ion-select-option value="small">Small</ion-select-option>
            <ion-select-option value="normal">Normal</ion-select-option>
            <ion-select-option value="large">Large</ion-select-option>
    </ion-select>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button [color]="darkMode? 'light': 'dark'" fill="clear" routerLink="/help">
            <ion-icon slot="start" name="help-outline"></ion-icon>
            Help
          </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="danger" fill="clear" (click)="signOut()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Sign out
          </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <app-tab/>
</ion-content>
