<ion-content class="dark:bg-gray-800">
  <div class="container mx-auto">
    <app-header/>

    <div *ngIf="detailError">
      <p class="font-semibold text-red-600">Couldnt find task, please try again</p>
    </div>

    <ion-card *ngIf="!detailError" class="mt-8 dark:bg-gray-900">
      <ion-card-header>
        <ion-card-title class="dark:text-white">Pending Task</ion-card-title>
        <ion-card-subtitle>
          <div class="flex flex-col items-center justify-center pt-3 pb-1">
            <img [src]="task()?.img" alt="" class="w-auto object-contain">
            <p class="text-lg pt-4 dark:text-gray-50">Task: {{ task()?.title }}</p>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="rounded-lg flex flex-col justify-center items-center">
  
          <div class="pt-2 space-y-3">
            
            <p class="text-sm dark:text-gray-100">Description: {{ task()?.des }}</p>
            <p [class]="changeDueDate()">Due Date: {{ (task()?.scheduled_date ?? '') | formatDate }}</p>
            <div class="font-semibold pb-3">
              <span>Priority:
                  @if(task()?.priority === 'Low')
                  {
                      <span class="text-green-400">Low</span>
                  }
                  @else if(task()?.priority === 'Medium')
                  {
                      <span class="text-orange-400">Medium</span>
                  }
                  @else {
                      <span class="text-red-500">High</span>
                  }
              </span>
            </div>
              <div>
                <p class="font-semibold dark:text-gray-100 pb-2">Assigned Contractors:</p>
                <p-table [value]="contractors()!">
                  <ng-template #header>
                    <tr>
                      <th>
                        Contractor name
                      </th>
                      <th>
                        Quotation
                      </th>
                      <th>
                        Vote
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template #body let-contractor>
                    <tr>
                      <td class="dark:text-gray-400">
                        {{ contractor.name }}
                      </td>
                      <td>
                        @if(contractor.quoteSubmitted)
                        {
                          <button class="text-yellow-400 cursor-pointer hover:translate-y-1 transition-transform duration-200" (click)="quoteDetails.openModal()">View quote</button>
                          <app-quote #quoteDetails [taskId]="this.taskId!" [contractorId]="contractor.uuid" (quoteSelected)="onQuoteSelected(contractor.uuid, $event)"></app-quote>
                        }
                        @else {
                          <span class="text-yellow-400">No quote available yet</span>
                        }
                      </td>
                      <td *ngIf="contractor.quoteSubmitted">
                        <p-togglebutton 
                          onIcon="pi pi-check" 
                          offIcon="pi pi-check"
                          onLabel="" 
                          [ngModel]="selectedContractorId() === contractor.uuid"
                          (ngModelChange)="voteForContractor(contractor.uuid)" 
                          [disabled]="voteSubmitted()">
                        </p-togglebutton>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="flex flex-row justify-center items-center space-x-2 pt-5">
                <button 
                class="bg-yellow-400 px-3 py-2 rounded text-black disabled:opacity-50" 
                (click)="submitVote()"
                [disabled]="!selectedContractorId() || voteSubmitted()">
                  Submit vote</button>
              </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="mt-7">
      <app-inventory-usage [taskId]="this.taskId!" class="pr-6"/>
    </div>
  </div>
  <app-tab/>
</ion-content>