 <div class="card">
    <form [formGroup]="form">
        <h3>Enter Details Below:</h3>
        <input type="text" formControlName="name" placeholder="Full Name / Company Name" />
        <!-- <input type="text" formControlName="contact_info" placeholder="Contact Info" /> -->
        <input type="email" formControlName="email" placeholder="Email Address" />
        <input type="text" formControlName="phone" placeholder="Phone Number" />
        <input type="text" formControlName="address" placeholder="Address" />
        <div class="row">
            <input type="text" formControlName="city" placeholder="City" />
            <input type="text" formControlName="suburb" placeholder="Suburb" />
        </div>
        <input type="text" formControlName="postalCode" placeholder="Postal Code" />
        <div class="flex gap-4 items-end">
            <button
                type="button"
                class="text-sm px-12 py-2 rounded bg-yellow-400 hover:bg-yellow-500 text-black font-semibold shadow"
                (click)="emitRelevantData()"
            >
            Next
            </button>
        </div>
    </form>
</div>