<div class="profile-container">
    <div class="profile-card">
    <h2 class="profile-title">Project History</h2>
    <textarea
        class="profile-textarea"
        placeholder="Provide a brief description of past projects"
        [(ngModel)]="description"
        name="description"
    ></textarea>
    <div class="profile-upload-group">
        <label for="projDocs" class="profile-upload-label">
            <img src="https://img.icons8.com/ios/50/copy.png" alt="file upload" class="profile-upload-icon" />
            Attach Project Records
        </label>
        <input type="file" hidden id="projDocs" />
    </div>
    <div class="profile-upload-group">
        <label for="projImgs" class="profile-upload-label">
            <img src="https://img.icons8.com/ios/50/image.png" alt = "file upload" class="profile-upload-icon" />
            Attach Project Images
        </label>
        <input type="file" hidden id="projImgs" />
    </div>
        <div class="profile-actions">
            <button type="button" class="profile-btn-yellow" (click)="back.emit()">Back</button>
            <button type="button" class="profile-btn-yellow" (click)="emitRelevantData()">Done</button>
        </div>
    </div>
</div>