<div class="bg-gray-300 dark:bg-gray-500/60 shadow-lg rounded-xl border border-gray-200 dark:border-gray-400 w-[22rem] text-center transition-all duration-200 hover:shadow-xl hover:-translate-y-1">
    <button class="cursor-pointer w-full focus:outline-none" (click)="viewHouse(house().buildingUuid!)">
        <p-card
  [style]="{
    height: '18.5rem',
    width: '22rem',
    overflow: 'hidden',
     backgroundColor: '#f3f4f6'
  }"
  class="rounded-2xl shadow-md"
>
  <ng-template pTemplate="header">
    <img
      [src]="house().propertyImage"
      alt="Property Image"
      class="w-full h-40 object-cover rounded-t-2xl border-b border-gray-200 dark:border-gray-700"
    />
  </ng-template>

  <ng-template pTemplate="title">
    <span class="text-black  font-semibold text-base dark:text-gray-100">
      {{ house().name }}
    </span>
  </ng-template>

  <ng-template pTemplate="subtitle">
    <span class="text-gray-600 text-sm block truncate dark:text-gray-300">
      {{ house().address }}
    </span>
  </ng-template>

  <div class="mt-2">
    <p
      class="inline-block px-3 py-1 rounded-full text-xs font-medium bg-orange-100 dark:bg-orange-900 text-orange-700 dark:text-orange-300 border border-orange-200 dark:border-orange-800 shadow-sm"
      *ngIf="!house().coporateUuid; else bodyCorporate"
    >
      Owner
    </p>
    <ng-template #bodyCorporate>
      <p
        class="inline-block px-3 py-1 rounded-full text-xs font-medium bg-yellow-100 dark:bg-yellow-900 text-yellow-800 dark:text-yellow-200 border border-yellow-200 dark:border-yellow-800 shadow-sm"
      >
        Part of body corporate: {{ bcName() }}
      </p>
    </ng-template>
  </div>
</p-card>

    </button>
</div>