<ion-modal [isOpen]="displayModal">
  <ng-template>
    <ion-header class="bg-white dark:bg-gray-800">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()" class="dark:text-gray-200">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-white dark:bg-gray-800">
      <div class="flex flex-col justify-center items-center gap-2 mt-4">
        <div class="font-bold pb-3">
            <p class="dark:text-gray-200">Task: {{ task?.title }}</p>
        </div>
        <div class="pb-3 px-4">
            <p class="dark:text-gray-200">Description: {{ task?.des }}</p>
        </div>
        <div class="font-semibold pb-3">
            <p class="dark:text-gray-200">Due Date: {{ (task?.scheduled_date ?? '') | formatDate }}</p>
        </div>
        <div class="font-semibold pb-3">
          <span>Priority:
              @if(task?.priority === 'Low')
              {
                  <span class="text-green-400">Low</span>
              }
              @else if(task?.priority === 'Medium')
              {
                  <span class="text-orange-400">Medium</span>
              }
              @else {
                  <span class="text-red-500">High</span>
              }
          </span>
        </div>
        <div class="font-semibold pb-3" *ngIf="contractor">
            <p class="dark:text-gray-200">Assigned contractor: {{ contractor.name }}</p>
        </div>
        <div>
          <app-inventory-usage *ngIf="inventoryUsage?.length" [taskId]="this.taskId!"/>
        </div>
        <div class="pb-3 flex flex-col justify-center items-center">
            <p class="pb-2 dark:text-gray-200 text-lg">Task image: </p>
            <img [src]="imageUrl" alt="image of task" *ngIf="imageUrl; else noImg" class="max-w-xs max-h-40 rounded-md">
            <ng-template #noImg>
                <p>No image available</p>
            </ng-template>
        </div>
        <div>
          <app-inventory-usage *ngIf="inventoryUsage?.length" [taskId]="this.taskId!"/>
          <ion-card class="no-outline-card dark:bg-gray-900">
            <ion-card-header>
              <ion-card-title class="dark:text-white">Contractor timeline</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>