<!-- <app-header/> -->

<div class="flex justify-center items-center mt-8">
  <p class="text-3xl font-semibold text-white tracking-wide">
    Your Properties
  </p>
</div>


<div [@floatUp] class = "flex flex-wrap justify-center gap-8 p-8">
    @for (house of houses(); track  house.buildingUuid)
    {
        <div class="hover:translate-y-2 transition-transform duration-200">
            <app-house-card [house]="house"/>
        </div>
    }
    @if(!bcUser)
    {
      <button (click)="RouteToCreateProperty()" class = "cursor-pointer hover:translate-y-1 transition-transform duration-200">
          <img class= "w-16 h-16" src= "assets/icons/add_circle.svg" alt="">
      </button>
    }
</div>