<!-- <app-header/> -->

<div class="mb-12 mt-8 ml-10 animate-item">
      <h2 class="text-2xl font-bold"
          [ngStyle]="{ 'background-color': 'var(--input-bg-color)', 'color': 'var(--input-text-color)' }">
        Your Properties
      </h2>
      <div class="w-60 h-1 bg-yellow-300 mt-2"></div>
    </div>


<div [@floatUp] class = "flex flex-wrap justify-center gap-8 p-8">
    @for (house of houses(); track  house.buildingUuid)
    {
        <div class="hover:translate-y-2 transition-transform duration-200">
            <app-house-card [house]="house"/>
        </div>
    }
    @if(!bcUser)
    {
      <button (click)="RouteToCreateProperty()" class = "cursor-pointer hover:translate-y-1 transition-transform duration-200">
          <img class= "w-16 h-16" src= "assets/icons/add_circle.svg" alt="">
      </button>
    }
</div>