<div class = "flex w-full justify-center items-center h-screen">
    <div class = "flex w-[700px] h-[400px] shadow-lg rounded overflow-hidden border">

        <div class = "w-2/6 bg-white flex flex-col items-center justify-center p-6">
            <img class = "h-24 mb-4" src="assets/images/logo.png" alt="App logo">
            <p class = "font-semibold text-lg">Property Manager</p>
        </div>

        <div class = "w-full propertyYellow-bg p-12 flex flex-col justify-center space-y-4">
            <p class = "text-center text-xl font-semibold">Types of users</p>

            <div class="ml-20">
                <button class="w-7/9 py-2.5 px-5 bg-white border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 cursor-pointer">
                    <a href="/register-body-corporate" class="block">Register as a body corporate</a>
                </button>
            </div>
            
            <div class="ml-20">
                <button class="w-7/9 py-3 px-5 bg-white border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 cursor-pointer">
                    <a href="/contractorRegister" class="block white">Register as a contractor</a>
                </button>
            </div>
            
            <div class="ml-20">
                <button class="w-7/9 py-3 px-5 bg-white border border-gray-400 rounded-md text-gray-700 hover:bg-gray-200 cursor-pointer">
                    <a href="/register-owner" class="block">Register as a trustee</a>
                </button>
            </div>

            <div class="text-center text-sm mt-4">
                <a class="block hover:text-blue-800 cursor-pointer" href="/login">Already have an account? Login</a>
            </div>
        </div>
    </div>
</div>