<div class="flex flex-col items-center justify-center">
    <div>
        <span class="text-2xl font-semibold ml-82">Life-cycle cost analysis</span>
        <p-table [value]="costs()" stripedRows [tableStyle]="{ 'min-width': '30rem'}">
            <ng-template #header>
                <tr>
                    <th pSortableColumn="type">
                        Type <p-sortIcon field="type"/>
                    </th>
                    <th pSortableColumn="description">
                        Description <p-sortIcon field="description"/>
                    </th>
                    <th pSortableColumn="condition">
                        Condition <p-sortIcon field="condition"/>
                    </th>
                    <th pSortableColumn="timeFrame">
                        Time Frame <p-sortIcon field="timeFrame"/>
                    </th>
                    <th pSortableColumn="estimatedBudget">
                        Estimated Budget Required <p-sortIcon field="estimatedBudget"/>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-cost>
                <tr>
                    <td>{{ cost.type }}</td>
                    <td>{{ cost.description }}</td>
                    <td>{{ cost.condition }}</td>
                    <td>{{ cost.timeFrame }}</td>
                    <td>R {{ cost.estimatedBudget | formatAmount }}</td>
                </tr>
            </ng-template>
        </p-table>

        <button class="cursor-pointer pl-105 pt-5">
            <img src="assets/icons/add_circle_gray.svg" alt="add new cost" class="w-10 h-10">
        </button>
    </div>
</div>