<header class="bg-white dark:bg-black text-black dark:text-white flex items-center justify-between px-10 py-3 border-b border-gray-200 shadow-sm">
  <div class="flex items-center space-x-6">
    <img src="assets/images/logo.png" class="w-14 h-10" alt="logo">
    <p class="font-medium text-xl ml-2">Property Manager</p>

    <div class="flex items-center space-x-3 ml-4">
      <a class="p-button p-button-text header-btn" routerLink="/login">Login</a>
      <a class="p-button p-button-text header-btn" routerLink="/registerHub">Register</a>
      <a class="p-button p-button-text header-btn" href="https://github.com/COS301-SE-2025/Property-Management/blob/main/docs/Demo%203%20Documentation/Property%20Manager%20User%20Manual.pdf" target="_blank" rel="noopener noreferrer">Learn More</a>
    </div>
  </div>

  <div class="flex items-center space-x-4 text-gray-600">
    <span>propertymanager491&#64;gmail.com</span>
    <i class="pi pi-th-large cursor-pointer hover:text-black text-lg"></i>
  </div>
</header>

<!-- Yellow Accent Bar -->
<div class="propertyYellow-bg h-2 w-full"></div>
