<p-dialog header="Add new task to timeline?" [style]="{ width: '40rem'}" [(visible)]="displayDialog" [modal]="true">
    <span class="p-text-secondary block mb-8">Update timeline with a pending task</span>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mx-auto max-w-lg">
        <div class = "mb-6">
            <p-float-label>
                <input id="timeline-task" class="border rounded w-75 p-3 h-8" type="text" formControlName="name" required>
                <label for="timeline-task" class="font-bold ml-25">Task name</label>
            </p-float-label>
        </div>
        <div class = "mt-8 mb-4 gap-4">
            <p-float-label>
                <textarea id="timeline-description" class = "border rounded w-105 p-3 h-20" formControlName = "description" required></textarea>
                <label for="timeline-description" class="font-bold ml-10">Task description</label>
            </p-float-label>
        </div>
        <div class = "mb-6">
            <label for="contractors" class="font-semibold block mb-2">Assigned contractors:</label>
            <p-multiselect id="contractors" class = "border rounded w-75" formControlName="contractorName"/>
        </div>
        <div class = "mb-6">
            <label for="timeline-dueDate" class="font-semibold block">Proposed due date</label>
            <p-datepicker id="timeline-dueDate" formControlName="date" styleClass="w-75 p-3 h-12" [iconDisplay]="'input'" [showIcon]="true" size="small"/>
        </div>
        <div class="mb-6 text-center">
            <p class = "font-semibold text-red-500" *ngIf="addError">Error adding new task</p>
        </div>
        <div class = "flex justify-end mt-3">
            <button class = "bg-gray-300 px-3 py-2 rounded mr-2 cursor-pointer" (click)="closeDialog()">Cancel</button>
            <button type="submit" 
                class = "px-3 py-2 rounded cursor-pointer"
                [class.bg-black]="form.valid"
                [class.bg-gray-200]="!form.valid"
                [class.text-white]="form.valid"
                [disabled]="!form.valid">
                Add item
            </button>
        </div>
    </form>
</p-dialog>