<p-toast></p-toast>
<p-dialog header="Add new task to timeline?" [style]="{ width: '40rem'}" [(visible)]="displayDialog" [modal]="true">
    <span class="p-text-secondary block mb-8">Update timeline with a pending task</span>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mx-auto max-w-lg">
        <div class = "flex flex-col mb-3 gap-2">
            <label for="timeline-task" class="font-semibold">Task name</label>
            <input id="timeline-task" class="border rounded w-70 mx-auto px-2" type="text" formControlName="name" required>
        </div>
        <div class = "flex flex-col mt-8 mb-4 gap-4">
            <label for="timeline-description" class="font-bold ml-10">Task description</label>
            <textarea id="timeline-description" class = "border rounded w-90 mx-auto h-20 px-2" formControlName = "description" required></textarea>
        </div>
        <div class = "mb-6">
            <label for="contractors" class="font-bold block mb-2">Assigned contractors:</label>
            <p-select id="contractors" [options]="contractors" optionLabel="name" placeholder="Contractors" optionValue="uuid" class="border rounded w-75" formControlName="contractorName"/>
        </div>
        <div class="mb-6">
            <p class="font-bold">Assign inventory items to task</p>
            <p-multiselect 
                id="inventoryItems" 
                [options]="inventoryItemsAvailable" 
                optionLabel="name" 
                optionValue="itemUuid" 
                class="border rounded w-75" 
                placeholder="Available Inventory Items"
                (onChange)="updateInventoryItemsUsed($event)"
            >
                 <ng-template let-item pTemplate="item">
                    <div class="flex justify-between w-full">
                        <span>{{item.name}}</span>
                        <span class="ml-2 text-gray-500">(Qty: {{item.quantityInStock}})</span>
                    </div>
                </ng-template>
            </p-multiselect>
            <app-inventory-card 
                *ngIf="inventoryItemsUsed" 
                [inventory]="inventoryItemsUsed" 
                [showAddButton]="false"
                [readOnly]="true"
                [capOriginal]="true"
                (quantitiesChanged)="onQuantitiesChanged($event)"
            ></app-inventory-card>
        </div>
        <div class = "mb-6 mt-10">
            <p class="font-bold pb-4">Upload picture of task for the contractors</p>
            <p-fileupload 
                #fileUpload name="file" 
                mode="basic" 
                chooseLabel="Choose" 
                chooseIcon="pi pi-upload" 
                accept="image/*" 
                maxFileSize="1000000" 
                (onSelect)="onFileSelect($event)" 
            />
        </div>
        <div class = "mb-6">
            <label for="timeline-dueDate" class="font-bold block">Proposed due date</label>
            <p-datepicker id="timeline-dueDate" formControlName="date" styleClass="w-75 p-3 h-12" [iconDisplay]="'input'" [showIcon]="true" size="small" [appendTo]="'body'" required/>
        </div>
        <div class="mb-6 text-center">
            <p class = "font-semibold text-red-500" *ngIf="addError">Error adding new task</p>
        </div>
        <div class = "flex justify-end mt-3">
            <button class = "bg-gray-300 px-3 py-2 rounded mr-2 cursor-pointer" (click)="closeDialog()">Cancel</button>
            <button type="submit" 
                class = "px-3 py-2 rounded cursor-pointer"
                [class.bg-black]="form.valid"
                [class.bg-gray-200]="!form.valid"
                [class.text-white]="form.valid"
                [disabled]="!form.valid">
                Add item
            </button>
        </div>
    </form>
</p-dialog>