<p-card class="text-center">
    <ng-template #title>Budgets</ng-template>
    <ng-template #subtitle>Overall Allocated Budget</ng-template> 
    <p class = "text-yellow-500 text-lg font-semibold mt-2">R {{ calculateTotalBudget() | formatAmount }}</p> 

    <div class="flex flex-wrap justify-center gap-4 px-6 mt-4">
    <div *ngFor= "let bud of budget()" class="bg-gray-50 p-4 rounded-lg shadow text-center w-45">
        <p class = "font-medium text-sm text-gray-600 mb-1">Allocated {{ bud.category }} budget</p>
        <p class = "mt-1">R {{ bud.budgetAmount | formatAmount }}</p>

        <div class="border-t border-gray-300 my-3">
        <p class = "font-medium text-sm text-gray-600 mb-1">Allocated {{bud.category}} Spent</p>
        <p class = "mt-1">R {{ bud.budgetSpent ?? 0 | formatAmount }}</p>
        </div>
    </div>
    </div>

    <div class="mt-4">
        <button class="bg-black text-white px-3 py-1.5 rounded cursor-pointer" (click)="RouteToManageBudget()">Manage budget</button>
    </div>
</p-card>