<p-card class="text-center">
    <ng-template #title>Budgets</ng-template>
    <ng-template #subtitle>Overall Allocated Budget</ng-template> 
    <p class = "text-yellow-500 text-lg font-semibold mt-2">R {{ calculateTotalBudget() | formatAmount }}</p> 

    <div class="flex flex-wrap justify-center gap-4 px-6 mt-4">
        <div class="bg-gray-50 p-4 rounded-lg shadow text-center w-45">
            <p class = "font-medium text-sm text-gray-600 mb-1">Allocated Inventory budget</p>
            <p class = "mt-1">R {{ (budget().inventoryBudget-budget().inventorySpent) | formatAmount }}</p>
        </div>

        <div class="bg-gray-50 p-4 rounded-lg shadow text-center w-45">
            <p class = "font-medium text-sm text-gray-600 mb-1">Allocated Maintenance Spent</p>
            <p class = "mt-1">R {{ (budget().maintenanceBudget-budget().maintenanceSpent) | formatAmount }}</p>
        </div>
    </div>

    @if(hasBudget)
    {
        <div class="mt-4">
            <button class="bg-black text-white px-3 py-1.5 rounded cursor-pointer" (click)="RouteToManageBudget()">Manage budget</button>
        </div>
    }
    @else {
        <div class="mt-4">
            <button class="bg-black text-white px-3 py-1.5 rounded cursor-pointer" (click)="budgetAppDialog.openDialog()">Create budget</button>
            <app-budget-add-dialog #budgetAppDialog/>
        </div>
    }

</p-card>