

<ion-content class="ion-padding dark:bg-gray-500" [@fadeInStagger]>
    <app-header />
  <!-- Title -->
  <div class=" ml-4 mt-4 mb-8 animate-item">
    <h1 class="text-2xl font-bold ">Password Reset</h1>
    <div class="w-40 h-1 bg-yellow-400 mt-2 "></div>
  </div>

  <!-- Form -->
  <ion-card class="max-w-md mx-auto animate-item">
    <ion-card-header>
      <ion-card-title class="text-center">Enter Details Below</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input
          type="email"
          [(ngModel)]="email"
          placeholder="Email address"
          class="ion-margin-bottom"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          [(ngModel)]="oldPassword"
          placeholder="Old password"
          class="ion-margin-bottom"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          [(ngModel)]="newPassword"
          placeholder="New password"
          class="ion-margin-bottom"
        ></ion-input>
      </ion-item>

      <ion-button 
        expand="block" 
        (click)="resetPassword()"
        color="warning"
        class="ion-margin-top"
      >
        Reset Password
      </ion-button>
    </ion-card-content>
  </ion-card>
<app-tab></app-tab>
</ion-content>