
<ion-content class="ion-padding font-lato dark:bg-gray-700">
  <app-header/>
  <!-- Title -->
  <div class="mb-6 mt-7">
    <h2 class="text-2xl font-lato dark:text-gray-200">Create Quotation</h2>
    <div class="w-[16rem] h-1 propertyYellow-bg mt-2"></div>
  </div>

  <!-- Quotation Form -->
  <form #quoteForm="ngForm" (ngSubmit)="submitQuote()"  novalidate>

    

    <!-- Expiration Date (popup) -->
    <ion-item fill="outline" lines="none" button detail="false" (click)="openDatePopover($event)">
       <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label class="dark:text-gray-300">Expiration Date</ion-label>
      <ion-note slot="end" class="dark:text-gray-300">{{ expirationDate || 'Select date' }}</ion-note>
    </ion-item>

    <!-- Quote Number -->
    <ion-item fill="outline" lines="inset" class=" bg-grey-100"> 
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label position="stacked" class="dark:text-gray-300">Quote Number</ion-label>
      <ion-input class="dark:text-gray-200" [(ngModel)]="quoteNo" name="quoteNo"  required></ion-input>
    </ion-item>

    <!-- Total Amount -->
    <ion-item fill="outline" lines="inset">
      <ion-icon name="wallet-outline" slot="start"></ion-icon>
      <ion-label position="stacked" class="dark:text-gray-300">Total Amount</ion-label>
      <ion-input type="number" class="dark:text-gray-300" [(ngModel)]="totalAmount" name="totalAmount" required></ion-input>
    </ion-item>

   <div class="mt-4 flex flex-col items-center space-y-2">
  <label class="block text-sm text-gray-600 dark:text-gray-300 mb-2">Upload File (PDF/Image)</label>

  <!-- Styled Upload Button -->
  <label class="inline-flex items-center px-4 py-2 bg-black text-white rounded-lg cursor-pointer hover:bg-blue-600 transition">
    <ion-icon name="cloud-upload-outline" class="mr-2 text-xl"></ion-icon>
    Choose File
    <input
      type="file"
      accept=".pdf,image/*"
      (change)="onFileSelected($event)"
      class="hidden"
      required
    />
  </label>

  <!-- File name display -->
  <p *ngIf="file" class="text-sm p-4 text-gray-200">{{ file.name }}</p>
</div>

    <!-- Submit Button -->
    <div class="mt-6 text-center">
      <button ion-button expand="block" type="submit" [disabled]="loading"
        class="bg-yellow-300 text-black px-14 py-2 rounded font-semibold hover:bg-gray-800 w-full flex items-center justify-center">
        <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
        {{ loading ? 'Submitting...' : 'Submit Quote' }}
      </button>
    </div>
  </form>  
</ion-content>
<app-tab/>